<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>Visible:</b>
  <%= @post.visible %>
</p>

<p>
  <b>Answers:</b>
  <%= @post.answers %>
</p>

<p>
  <b>Rating:</b>
  <%= @post.rating %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
